* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Helvetica";
}

#navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF3b3b;
}

#navItems {
  float: left;
  text-align: bottom;
}

#navIcons {
  float: right;
}

#navLinks {
  display: block;
  color: white;
  text-align: bottom;

  padding: 16px;
  text-decoration: none;
  font-size: 30px;
}

#bounciesLogo {
  display: block;
  color: white;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  font-size: 40px;
}

#bounciesHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: #FF3b3b;
  padding: 3px;
  border: 1px;
  font-family: "Helvetica";
  font-size: 40px;
  font-weight: 550;
  font-color: white;
  color: #FFFFFF;
  align: bottom;
}

#discountBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 100%;
  background-color: #F5DD42;
  padding: 10px;
  border: 0px;
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  color: #000000;
}

#banner1 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border:none;
  outline: none;
  z-index : 1;
}

#footer {
  background-color: #FF4D4D;

}

#bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background-color: #FF4D4D;
  padding: 10px;
  border: 0px;
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

#botNavList {
  list-style-type: none;
  margin: 1;
  padding: 1;
  overflow: hidden;
  background-color: #FF4D4D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#botNavLinks {
  display: block;
  color: #333333;
  text-align: bottom;
  font-family: "Helvetica";
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
}

#big {
  width: 100%;
  background-color: #FF4D4D;
  height:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bigBotNav {
  width:600px;
  margin: auto;
}

#rightdiv {
  float:right;
  width:200px;
}

#centerdiv {
  float:right;
  width:200px;
}

#leftdiv {
  float:left;
  width:200px;
}

#botNavHeader {
  display: block;
  color: #000000;
  text-align: bottom;
  font-family: "Helvetica";
  padding: 5px;
  text-decoration: bold;
  font-weight: bold;
  font-size: 16px;
}
